#wrapper {
  margin: auto;
  margin-top: 5%;
  width: 500px;
  height: 500px;
  border: 1px solid #2b2e4a;
}

#score-btn {
  margin-left: 20%;
  margin-top: 5%;
  font-size: 20px;
}

h1 {
  margin-top: 5%;
  text-align: center;
}

p {
  margin-top: 5%;
  text-align: center;
}

#start {
  margin-top: 5%;
  margin-left: 40%;
}

#timeDiv {
  margin-left: 50%;
  margin-top: 5%;
  font-size: 30px;
}